* {
  box-sizing: border-box;
}

body {
  background-color: blue
}


.home {
  width: 75%;
  float: left;
  background-color: lightblue
}
.sidebar {
  width: 25%;
  float: left;
  background-color: white
}



