<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ '/home2.css' | relative_url }}">
</head>
<h1> Music and Sounds with Pharo </h1>

    <!-- navigation top bar -->
<div class="topbar">
    <ul>
         <li class = "toplist"> <a class ="toplink" href="https://lucretiomsp.github.io/musicwithpharo/layouts/home2.html"> go back </a></li>
        <li class = "toplist"> <a class ="toplink" href="https://lucretiomsp.github.io/musicwithpharo/documentation/coypu.html">COYPU</a></li>
        <li class = "toplist"> <a class ="toplink" href="https://lucretiomsp.github.io/musicwithpharo/documentation/phausto.html">PHAUSTO</a></li>
        <li class = "toplist"> <a class ="toplink" href="https://lucretiomsp.github.io/musicwithpharo/documentation/pharosound.html">PHAROSOUND</a></li>
    </ul>
</div>
<h2>{{ page.title }}</h2>
<body>
  <div class="home">
{{ content }}
  </div>
</body>
</html>
